inbox-comp .message-container {
  height: 55px; /* Initial fixed height */
  max-height: 55px; /* Matches the initial height */
  width: 700px;
  background-color: rgb(133, 229, 216);
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  padding-inline: 50px;
  padding-block: 10px;
  font-size: 1.3rem;
  overflow: hidden; 
  transition: max-height 1s ease-in-out; 
}

inbox-comp .message-container:hover {
  max-height: 1000px; 
  height: auto; 
  overflow: auto;
}

inbox-comp{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
  padding: 20px;
}

inbox-comp .message-container p:not(:last-child){
  margin-top: 10px;
  font-weight: 900;
}
inbox-comp .message-container span{
  font-weight: normal;
  display:inline-block;
  text-indent: 5px;
}

inbox-comp .message-container div{
  background-color: whitesmoke;
  margin-top: 10px;
  padding: 8px;
}