
.accordionHeader() {
  @padding: 20px 10px 10px;
  @color: rgb(95, 34, 199);
  @font-size: 20px;
  @bg:rgb(129, 120, 120);
}
.accordionBody() {
	@w: 100%;
	@padding: 0 15px;
	@color: rgb(173, 216, 230);
}